@font-face {
	font-family: 'HankenGrotesk';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'HankenGrotesk';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'HankenGrotesk';
	font-style: normal;
	font-weight: 800;
	src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('ttf');
	font-display: swap;
}

:root {
	--base-color: ;
	--accent-color: ;
	--reaction-bg: ;
	--memory: ;
	--verbal: ;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'HankenGrotesk', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a.button {
	display: inline-block;
	cursor: pointer;
	font-weight: 700;
	text-decoration: none;

}
